<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}{{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-lg-2">
                Filter by:
            </div>
            <div class="col-md-4 col-lg-4">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <h3>Filtered by: </h3>
                
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf = 'products && products.length'>
                
            </table>

        </div>

    </div>
</div>
